{% load staticfiles %}
<div id="historial">
    <table class="datatable">
        <thead>
            <th>Paciente</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Doctor</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            {% for diag in diagnosticos %}
                <tr id="row_{{ diag.id }}">
                    <td>{{ diag.id_paciente.name }} {{ diag.id_paciente.apaterno }} {{ diag.id_paciente.amaterno }}</td>
                    <td>{{ diag.fech }}</td>
                    <td>{{ diag.hora }}</td>
                    <td>{{ diag.id_user.name }} {{ diag.id_user.apaterno }} {{ diag.id_user.amaterno }}</td>
                    <td>
                        <img id="view_{{ forloop.counter }}" title="Ver diagnóstico" src="{% static "img/view.png" %}"
                             onclick="window.location='/doctor/vistaDiagnostico/?idd={{ diag.id }}'">
                        <img id="delete_{{ forloop.counter }}" title="Borrar diagnóstico" src="{% static "img/delete.png" %}"
                             onclick="eliminarDiagnostico({{ diag.id }})">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>