{% extends "layout.html" %}
{% block content-aside %}
    <div class="vertical-space07"></div>
    <input type="button" class="button large color01" value="Inicio" onclick="window.location='/patient'">
    <input type="button" class="button large color01" value="Historial Médico" onclick="window.location='/patient/Historial/'">
    <!--<input type="button" class="button large color01" value="Preescripciones" onclick="window.location='.'">-->
    <input type="button" class="button large color01" value="Análisis" onclick="window.location='/patient/MisAnalisis/'">
{% endblock %}